<div class="body-content">
    <div class="container">
        <div class="login-form">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <h2>Add Items</h2>
                <div class="form-item">
                    <input required formControlName="title" type="text" name="title" id="title" placeholder="Title">
                </div>

                <div class="form-item">
                    <input required formControlName="desc" type="text" name="desc" id="desc" placeholder="Description">
                </div>

                <select id="category" class="custom-select" formControlName="category">
                    <option value="1">General</option>
                    <option value="2">Shopping List</option>
                  </select>
                  <br>
                  <select id="priority" class="custom-select" formControlName="priority">
                    <option value="1" >Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                    <option value="1" [selected]>Priority</option>
                  </select>

                <div class="form-btns">
                    <input type="button" value="Add" class="loginBtn" (click)="onSubmit()">
                </div>

            </form>
        </div>
    </div>
</div>

